button {
    background-image: linear-gradient(96.46deg, #01478E 0.05%, #26B6B4 100.05%);
    background-size: 200% auto;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: white;
    padding: 11px 22px 11px 22px;
    text-align: center;
    transition: 0.5s;
}

button:hover {
    background-position: right center;
    cursor: pointer;
}